#banner_principal{
    background-image: url('../img/banner.jpg');
    min-height: 620px;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;   
}
/*
@media only screen and (max-width: 600px) {
    #navbar {
      background-color: lightgrey;
    }
  }
  */

  @media only screen and (max-width: 600px) {
    ul.timeline {
      list-style-type: none;
      position: relative;
    }
    ul.timeline:before {
      content: ' ';
      background: #d4d9df;
      display: inline-block;
      position: absolute;
      left: 10px;
      width: 2px;
      height: 100%;
      z-index: 400;
    }
    ul.timeline > li {
      margin: 20px 0;
      padding-left: 5px;
    }
    ul.timeline > li:before {
      content: ' ';
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid #e87122;
      left: 5px;
      width: 20px;
      height: 20px;
      z-index: 400;
    }
     #programa p,h5{
      width:260px;
    }
     #download_programa{
       padding-bottom: 22px;
     }

  }
  #navbar{
    background-color: rgba(0, 0, 0, 0.2);

  }

  #contactos a:hover {
    text-decoration: none;
    color:gray;
   }
   #contactos a {
    text-decoration: none;
    color:white;
   }

#map {
    height: 300px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
  
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
  display: inline-block;
  color:black;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
  display: inline-block;
  color:black;
  min-width: 100px;

}

.smalltext{
	padding-top: 5px;
	font-size: 20px;
}

.c2a1 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

 .c2a1 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

#contactos .col-lg-6{
  padding:0px;
}
#contactos .row{
  padding:0px;
}

/*****************/
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #e87122;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
/**** */